.video-img {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.container {
  position: relative;
}
.container img {
  display: block;
}
.container .youtube {
  position: absolute;
  bottom: 45%;
  left: 45%;
  font-size: -webkit-xxx-large;
  color: red;
}
a{
    text-decoration: none;
}
